{{!-- home page layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body>
    {{>header}}
    <div id="main-section">
        <div id="center-map-cont" class="container col-lg-12">
            <h2>
            GST Device is a smart GPS/GSM tracker with build in pulse sensor that keeps your valuables safe and alerts you of troubles.
            <br>
            <small>
            GST Device works worldwide, indoors and outdoors.
            </small>
            <br>
            <small>
            Get peace of mind and be in-the-know, because what you don’t know can hurt you or your business.
            </small>
            </h2>
        </div>
        <div id="bottom-cont-1" class="container col-lg-12">
            <div>
                <h2>
                 Watch your loved one from afar. Pets, kids or grandparents can get in trouble or get lost.
                <br>
                <small>2,700 kids are reported missing daily. Some are abducted, or subject to bad influences after school, or simply go missing. Keep them safe and enjoy peace of mind by knowing where they are at all times.</small>
                <br>
                <small>60% of people with Alzheimer's or dementia will wander from their home and get themselves into trouble. 30% of pets are lost, causing their owners constant worry and anxiety.</small>
                <br>
                <small>Prevent your loved ones being part of the statistics. Get them a GPS tracker and know their whereabouts at all times. Get alerts instantly if they are leaving a safe-zone by crossing a virtual fence or if the SOS panic button is pressed.</small>
               </h2>
            </div>

        </div>
        <div id="bottom-cont-2" class="container col-lg-12">

            <p><big>Global GPS Tracking Solution</big><br><small>Global SOS Tracker is a service that allows you to track, manage and responde to emergancy situations anywhere around the globe.</small>
            <br><small>Using the special 'SOS button' on the GST Device you can alert about an emergancy and recieve an instant response from our assistance team.</small>
            <br><small>When in emegrancy situtation just press the button and speak, our emergancy assistance team will deal with all the rest.</small>
            <br><small>Using Global SOS Tracker service you can be sure that your relatives and loved ones are save.</small>
            </p>
        </div>
        <div id="bottom-cont-3" class="container col-lg-12">
            <div>
                <h1>Powerful Features</h1>
            </div>
            <div id="features" class="container">
                <div class="col-lg-3 col-md-4 col-xs-8">

                        <img src="images/sos.png" alt="">


                        <h4>Lorem ipsum dolor sit amet<br><br><small>consectetur adipisicing elit. Assumenda rerum debitis architecto facere ab, adipisci repudiandae tempora aperiam sapiente obcaecati delectus a dolorum quas voluptatem placeat excepturi eius eaque atque.</small></h4>

                </div>
                <div class="col-lg-3 col-md-4 col-xs-8">

                        <img src="images/sos.png" alt="">


                        <h4>Lorem ipsum dolor sit amet<br><br><small>consectetur adipisicing elit. Assumenda rerum debitis architecto facere ab, adipisci repudiandae tempora aperiam sapiente obcaecati delectus a dolorum quas voluptatem placeat excepturi eius eaque atque.</small></h4>

                </div>
                <div class="col-lg-3 col-md-4 col-xs-8">

                        <img src="images/sos.png" alt="">


                        <h4>Lorem ipsum dolor sit amet<br><br><small>consectetur adipisicing elit. Assumenda rerum debitis architecto facere ab, adipisci repudiandae tempora aperiam sapiente obcaecati delectus a dolorum quas voluptatem placeat excepturi eius eaque atque.</small></h4>

                </div>
                <div class="col-lg-3 col-md-4 col-xs-8">

                        <img src="images/sos.png" alt="">


                        <h4>Lorem ipsum dolor sit amet<br><br><small>consectetur adipisicing elit. Assumenda rerum debitis architecto facere ab, adipisci repudiandae tempora aperiam sapiente obcaecati delectus a dolorum quas voluptatem placeat excepturi eius eaque atque.</small></h4>

                </div>
                <div class="col-lg-3 col-md-4 col-xs-8">

                        <img src="images/sos.png" alt="">


                        <h4>Lorem ipsum dolor sit amet<br><br><small>consectetur adipisicing elit. Assumenda rerum debitis architecto facere ab, adipisci repudiandae tempora aperiam sapiente obcaecati delectus a dolorum quas voluptatem placeat excepturi eius eaque atque.</small></h4>

                </div>
            </div>


        </div>
    </div>

</body>
</html>
