<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/homepage.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="header" class="big-header-nav navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="images/global_sos_tracker_w1000.png" alt=""></a>
                </div>
                <ul id="pages" class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="login">Log In</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="section-main">
    <div style="margin-top: 100px;" id="login_div" class="container">
       <div>
            <h2>Step 3:</h2>
        </div>
        <div class="cotainer">
            <div>
                <div>
                    <div id="pass_format_list" style="float: right; display:none;">
                        <ul >
                            <li><p>only characters and numbers</p></li>
                            <li><p>at least one upprecase letter</p></li>
                            <li><p>at least one number</p></li>
                            <li><p>at least 8 characters</p></li>
                        </ul>
                    </div>
                    <div class="form-group" id="newPass">
                        <label>Choose new password:</label>
                        <input style="font-size: 24px;" type="password" type="text" class="form-control">
                    </div>
                    
                </div>
                <div class="form-group" id="newPassRepeat">
                    <label>Re-enter password:</label>
                    <input style="font-size: 24px;" type="password" class="form-control" type="text" >
                </div>
                <div id="pass_change_text">
                    <p>The password must be at least <strong>8 characters</strong> and must include <strong>letters and numbers</strong> and at least <strong>one uppercase letter</strong> </p>
                </div>
                </form>
                <div>
                    <div>
                        <div style="float: right;">
                            <button id="btn_verify" class="btn btn-success">Confirm
                                <img id="loading_icon" style="margin-left:5px; display:none;" width="15px" src="/images/loading.gif" alt="">
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
    </div>
    {{>footer}}
    <script src="/scripts/login-pass-change-logic.js"></script>
    
</body>
</html>