<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    {{>header}}
    <div id="login_div" class="container">
        <div class="container-fluid">
            <h2>Step 1:</h2>
        </div>
        <div class="cotainer">
            <form action="admin/check_login">
                <div class="form-group">
                    <label for="email">Enter your email address or username</label>
                    <input type="text" class="form-control" id="credentials">
                </div>
                <div id="pass_change_text">
                    <p>After you entered your email address/username an <strong>SMS message with verification code</strong> will be sent to the phone number registered with your account</p>
                </div>
                </form>
                <div>
                    <div>
                        <div id="error-msg-pass-change" style="float: left; display:none;">
                            <p>asdasasd</p>
                        </div>
                        <div style="float: right;">
                            <button id="send_sms_button" class="btn btn-success">Send SMS
                                <img id="loading_icon" style="margin-left:5px; display:none;" width="15px" src="/images/loading.gif" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
    {{>footer}}
    <script src="/scripts/login-pass-change-logic.js"></script>
</body>
</html>