<footer id="footer">
    <div style="margin-top: 5px;" class="row">
        <div class="col-lg-4">
            <div id="footer_logo">
                <img src="images/global_sos_tracker_w1000.png">
            </div>
            <div>
                <p>With GST Service you can view the location of anyone, anywhere, anytime. GST unique system was designed to be highly informative and user friendly. It allows tracking the real time location of your devices, or check the history log of the device with an easily customizable time range.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <p><big>Lets stay in touch ;)</big></p>
            </div>
            <div>
                <p>Enter your email and get special deals & discounts</p>
                <form>
                <div class="form-group">
                    <input style="background-color: transparent; color:white;" placeholder="Name" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <input style="background-color: transparent; color:white;" placeholder="Email Address" type="text" class="form-control" id="name">
                </div>
                <button type="submit" class="btn btn-success">Get Updates</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <p style="margin-bottom: 20px;"><big>Our Contacts</big></p>
            <div class="row">
                <div class="col-lg-1">
                    <div>
                        <img width="33px" src="/images/icons/location.png" alt="">
                    </div>
                </div>
                <div class="col-lg-11">
                    <div style="padding-left: 15px;">
                        <p>HaTayasim Rd 28, Tel Aviv-Yafo, Gush-Dan, Isreal, 6729910<br>Email: <a style="color: green;" href="mailto: globalsostracker@mail.ru">globalsostracker@mail.ru</a></p>
                    </div>
                </div>
            </div>
            <div style="margin-top: 27px;" class="row">
                <div class="col-lg-1">
                    <div>
                        <img width="33px" src="/images/icons/telephone.png" alt="">
                    </div>
                </div>
                <div class="col-lg-11">
                    <div style="padding-left: 15px;">
                        <p>
                        <a style="color: green;" href="mailto: globalsostracker@mail.ru">Contact Product Support</a>
                        <br>Customer Support: <a style="color: green;" href="tel:+972546774630">+972 546774630</a>
                        <br>Sales Only: <a style="color: green;" href="tel:+972525759137">+972 525759137</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>