
{{!-- header of every page in web app --}}

<div id="header">
  <div id="header-left-div">
    {{!-- image - logo --}}
    <p>logo</p>
  </div>
  <div id="header-right-div">
    <a class="glyphicon glyphicon-log-in btn btn-primary" href="login"> Login</a>
  </div>
</div>