
{{!-- header of every page in web app --}}

<div id="header-dashboard">
  <div id="header-left-div">
    {{!-- image - logo --}}
    <p>logo</p>
  </div>
  <div class="dropdown" id="header-right-div">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
  </div>
</div>